<template>
    <div>
        <h1>Pierre Bourgeois</h1>
        <p>
            Bienvenue sur mon espace de travail.<br><br>
            Vous pourrez retrouver une grande majorité des outils que j'utilise
            au quotidien dans mon travail.<br><br>



        </p>
    </div>
</template>

<script>
    export default {
        computed: {
            name () {
                return 'World'
            }
        },

        methods: {
            myFct: function(){
                let core = this.$root.$data.core
                core.make('osjs/notification', {
                    message: 'Hello World',
                    icon: 'icon.src',
                    onclick: () => console.log('Clicked!')
                })
            }
        }
    }
</script>

<style lang="less">
    #coucou {
        color: red;
    }
</style>
