<template>
    <div>
        <div id="compo"></div>
    </div>
</template>

<script>

    import {Terminal} from 'xterm';
    import {FitAddon} from 'xterm-addon-fit'

    export default {
        computed: {},
        components: {},
        methods: {},

        created() {

            const term = new Terminal();
            const fitAddon = new FitAddon();
            term.loadAddon(fitAddon);
            term.open(this.$vnode.elm)
            console.log(this)

        }
    }

</script>

<style lang="less">
</style>
