.Window_TerminalWindow {
  /* Your styles here */
  .osjs-window-content {
    background: #000;
  }

  .terminal,
  .xterm-viewport {
    width: 100% !important;
    height: 100% !important;
  }

  @import 'xterm';
}
